footer {
  border-top: 0.5px solid #fff;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  margin-top: auto;
}

.footer-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  color: rgba(242, 242, 242, 0.95);
  text-align: center;
  font-family: Urbanist;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 10px;
  justify-content: center;
}
